*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins' , sans-serif;
}
header{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-bottom: .5em;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
header .logo h1{
    font-size: 4em;
}
header .logo img{
    width: 90px;
}
section {
    text-align: right;
    font-size: xx-large;
    margin-top: 90px;
    margin-right: 20px;
}
section img{
    width: 45%;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
    height: 40%;
}
section h3{
    margin-bottom: 50px;
}
section .war img{
    width: 25%;
}
.var img{
    margin-right: 350px;
}
section a{
    letter-spacing: 1px;
    color: #f0f0f0;
    background-color:black;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
    padding: .9386em 2.179em;
    border-radius: 50px;
    margin-right: 600px;
    margin-top: 20px;
    transition: .3s ease;
}
section a:hover{
    transform: scale(1.1);
    color: white;
    background: rgb(35, 35, 35);
}
audio{
    margin-top: 20px;

}
.person img{
    width: 90px;
    margin-top: 100px;
    margin-bottom: -5px;
}
.person h1{
    text-align: right;
}
.person h2{
    text-align: right;
}
.person h3{
    text-align: right;
}
.person h4{
    text-align: right;
}