*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins' , sans-serif;
}
header{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-bottom: .5em;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
header .logo h1{
    font-size: 4em;
}
header .logo img{
    width: 90px;
}
section {
    text-align: right;
    font-size: x-large;
    margin-top: 90px;
    margin-right: 20px;
}
section h3{
    margin-bottom: 50px;
    margin-top: 30px;
}
section h1{
    margin-top: 30px;
}
section h2{
    margin-top: 30px;
}